.m-footerInfo
  display: table

  > *
    display: table-cell
    vertical-align: middle

.m-footerInfo-title
  margin: 0
  font-size: rem(12)
  color: palette("font", "footerinfo")

.m-footerInfo-credit
  padding-left: 1em
  font-size: rem(10)
  color: palette("font", "footerinfo")
  line-height: 1.3

.m-footerInfo-creditItem