.m-footerInfo
  display: table

  +mediaquery-tablet-small
    display: block

  > *
    display: table-cell
    vertical-align: middle

    +mediaquery-tablet-small
      display: block

.m-footerInfo-title
  margin: 0
  font-size: rem(12)
  color: palette("font", "footerinfo")

.m-footerInfo-credit
  padding-left: 0.9em
  font-size: rem(10)
  color: palette("font", "footerinfo")
  line-height: 1.3

  +mediaquery-tablet-small
    margin-top: 0.4em
    padding: 0

.m-footerInfo-creditItem
  display: inline
  padding-left: 0.5em

  &:first-child
    padding-left: 0

  +mediaquery-tablet-small
    display: block
    padding: 0