@charset "utf-8"

// Compass
// @import compass

// Bourbon & Neat
@import bourbon
@import neat

// Normalize
@import options/normalize

// Iconfont
@import options/fontello-embedded

// Variables
@import variables/common
@import variables/color
@import variables/z-index

// Mixin
@import mixin

// Layouts
@import layouts/l-container
@import layouts/l-header
@import layouts/l-main
@import layouts/l-footer
@import layouts/l-tagCloud

// Modules
@import modules/m-siteTitle
@import modules/m-navigation
@import modules/m-post
@import modules/m-tagCloud
@import modules/m-footerInfo
@import modules/m-pager
@import modules/m-loader
@import modules/_m-rebloggedFrom
@import modules/_m-noteCount
@import modules/_m-postNotes


// Common Styles
*
  box-sizing: border-box

body
  background-color: palette("bg", "base")
  color: palette("font", "base")
  line-height: 1.7
  font-family: $font-family

h1, h2, h3, h4, h5, h6
  line-height: 1.3

a
  text-decoration: none
  color: inherit

  &:hover
    color: palette("font", "link")