<% if environment == :development %>
  <!-- pager -->
  <div class="m-pager js-pager">
    <a class="js-pager-next" href="/page/2" rel="next">Next</a>
  </div>
<% elsif environment == :build %>
  {block:IndexPage}
    {block:Pagination}
      <!-- pager -->
      <div class="m-pager js-pager">
        {block:NextPage}
          <a class="js-pager-next" href="{NextPage}" rel="next">Next</a>
        {block:NextPage}
      </div>
    {/block:Pagination}
  {/block:IndexPage}
<% end %>

<!-- footer -->
<footer class="l-footer">
  <div class="m-footerInfo">
    <h1 class="m-footerInfo-title"><a href="/">{Title}</a></h1>
    <div class="m-footerInfo-credit">
      <div class="m-footerInfo-creditItem">Copyright(C) {CopyrightYears} {Title}</div>
      <div class="m-footerInfo-creditItem"><a href="#">Clip</a> theme designed by <a href="http://brdr.jp/" target="_blank">RYO NAKAE</a></div>
    </div>
  </div>
</footer>