<article class="m-post m-post--{PostType}">
  <!-- thumbnail -->
  <div class="m-post-thumbnail">
    {Photoset-500}
  </div>
  <!-- info -->
  <div class="m-post-info">
    <div class="m-post-infoUrl">
      <i class="m-post-infoUrlIcon m-icon icon-link"></i>
      <input type="text" name="imageurl" value="{PhotoURL-HighRes}" readonly class="m-post-infoUrlInput js-inputUrl"></input>
    </div>
    <div class="m-post-infoTweet">
      <a href="#">
        <i class="m-icon icon-twitter"></i>
      </a>
    </div>
    <div class="m-post-infoPermalink">
      <a href="{Permalink}">
        <i class="m-icon icon-dot-3"></i>
      </a>
    </div>
  </div>
  <!-- tag -->
  {block:HasTags}
    <ul class="m-post-tag">
      {block:Tags}
        <li class="m-post-tagItem">
          <a href="{TagURL}">#{Tag}</a>
        </li>
      {/block:Tags}
    </ul>
  {/block:HasTags}
</article>