// Set Function
@function palette($color_type, $tone_name:'base') {
  $color: map-get($colors, $color_type);
  $torn: map-get($color, $tone_name);
  @return $torn;
}

// Set Colors
$colors: (
  "font": (
    "base": #333,
    "link": #33A6B8,
    "sitetitle": #1a1a1a,
    "sitedescription": #aaa,
    "navigation": #1a1a1a,
    "url": #aaa,
    "infobutton": #aaa,
    "tag": #aaa,
    "tagcloudtitle": #aaa,
    "footerinfo": #aaa
  ),
  "bg": (
    "base": #eee,
    "header": #fff,
    "post": #fff,
    "url": #F8F8F8,
    "button": #bdebff,
    "tagcloud": #F8F8F8,
    "footer": #fff
  )
);