---
layout: layout
---

<section class="l-main">
  {block:Posts}
    <!-- PostType: {PostType} -->
    <article class="m-post">
      <header class="m-postHeader">
        {block:Title}
          <h1 class="m-post-title"><a href="{Permalink}">{Title}</a></h1>
          {block:Date}
            <p class="date hovercolor-sub">
              <a href="{Permalink}">
                <i class="icon icon-clock"></i>
                {block:NewDayDate}
                  <time pubdate="{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}">
                    {Year}.{MonthNumberWithZero}.{DayOfMonthWithZero} / {TimeAgo}
                  </time>
                {/block:NewDayDate}
                {block:SameDayDate}
                  <time pubdate="{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}">
                    {Year}.{MonthNumberWithZero}.{DayOfMonthWithZero} / {TimeAgo}
                  </time>
                {/block:SameDayDate}
              </a>
            </p>
          {/block:Date}
        {/block:Title}
      </header>

      <div class="m-postContent">
        content here
      </div>
    </article>
  {/block:Posts}
</section>