---
layout: layout
---

<!-- main -->
{block:IndexPage}
  <section class="l-main l-main--index js-masonryParent">
    {block:Posts}
      <!-- post {PostType} -->
      {block:Photo}
        <%= partial "/partial/post-photo" %>
      {/block:Photo}

      {block:Photoset}
        <%= partial "/partial/post-photoset" %>
      {/block:Photoset}
    {/block:Posts}
  </section>
{/block:IndexPage}

{block:PermalinkPage}
  <section class="l-main l-main--permalink">
    Permalink Page
  </section>
{/block:PermalinkPage}